.request-now-button {
  background-color:black;
  color: white;
  
  border:none;
  padding-top: 12.25px;
  padding-bottom: 12.25px;
  padding-right: 21.094px;
  padding-left: 21.094px;
  cursor: pointer;
  transition: opacity 0.15s;

}
.request-now-button:hover {
  opacity: 0.8;
}