.sign-up-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border-style: solid;
  border: none;
  border-radius: 6px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17.508px;
  padding-right: 17.508px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  
    }
  .sign-up-button:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  }