.sidebar {
  position: fixed;
  left:0;
  bottom:0;
  top:55px;
  width:72px;
  z-index: 200;
  background-color: white;
  padding-top: 5px;
 
}
.sidebar-link {
  height:74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.sidebar-link:hover {
  background-color: rgb(235,235,235);
}
.sidebar-link img {
  height:24px;
  margin-bottom: 7px;
  
}
.sidebar-link div {
  font-size: 10px;
}
@media (min-width:1200px) {
  .sidebar {
    width:150px;
    padding-left: 15px;
  }
  .sidebar-link {
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    cursor: pointer;
  }
  .sidebar-link img {
    margin-right: 15px;
  }
}
